body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Oculta a barra de rolagem horizontal do site inteiro */
}

.painel-superior {
    background-color: #377bc9;
    color: #fff;
    padding: 8px 440px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-height: 85px; 
    overflow: hidden;

}

.logo img {
    width: auto;
    height: 100px; 
    margin-right: 250px;
}

.menu {
    display: flex;
    align-items: center;
}

.botao {
    position: relative; 
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-left: 20px;
    cursor: pointer;
    transition: color 0.4s; 
}

.botao::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    background-color: #fff;
    transition: width 0.3s ease-out; 
}

.botao:hover::before {
    width: 100%; 
    transition: width 0.4s ease-in; 
}

/*----------------DESTAQUES---------*/

.destaques-aba {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 300px; /* Defina a altura máxima da aba */
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco transparente */
    padding: 20px;
    box-sizing: border-box; /* Para incluir padding na largura total */ 
    transition: width 0.4s ease-out; /* Animação da largura da linha */
    animation: slidein 2s ease-in-out forwards;
}

.destaques-aba h2 {
    margin: 0 10px 0 0; /* Ajusta a margem para distanciar do texto à direita */
    font-size: 24px; /* Aumenta o tamanho da fonte */
    color: #090a0a; /* Cor principal do texto */
    font-weight: bold; /* Negrito */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra do texto */
    margin-left: 75px;
}

.destaques-aba p {
    margin: 0;
}

@keyframes slidein {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}




/*-----------------SWIPER-----------*/




.swiper-container {
    position: relative; /* Importante para que o z-index funcione corretamente */
    z-index: 0; /* Valor padrão, coloca o slide abaixo da aba de destaques */
}

.swiper-slide {
    position: relative; /* Importante para posicionar o conteúdo */
}

.saiba-mais {
    position: absolute;
    bottom: 70px;
    left: 15%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #377bc9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    z-index: 10;
    transition: background-color 0.3s;
}

.saiba-mais:hover {
    background-color: #285a8c;
}

.slide-content {
    position: absolute;
    bottom: 150px; /* Ajuste a altura do conteúdo */
    left: 20%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8); /* Adiciona sombra ao texto para melhor legibilidade */
    z-index: 5; /* Para garantir que o texto fique acima da imagem */
}

.slide-content h3 {
    margin: 0;
    font-size: 24px;
}

.slide-content p {
    margin: 5px 0 0;
    font-size: 16px;
}

.destaques-aba {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco transparente */
    padding: 20px;
    box-sizing: border-box; /* Para incluir padding na largura total */
    z-index: 1; /* Define a ordem de empilhamento */
}

.slide-content {
    position: absolute;
    top: 90px; /* Ajuste a posição vertical do conteúdo */
    text-align: left;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8); /* Adiciona sombra ao texto para melhor legibilidade */
    z-index: 5; /* Para garantir que o texto fique acima da imagem */
    padding: 20px;
    background: rgba(0, 0, 0, 0.4); /* Fundo preto transparente para destacar o texto */
    border-radius: 10px; /* Borda arredondada para o fundo */
    max-width: 50%; /* Para evitar que o texto ocupe toda a largura da imagem */
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 150px;
    min-width: 300px; /* Define uma largura mínima para o texto */

}
.slide-content h3 {
    margin: 0 0 10px;
    font-size: 80px; /* Aumenta o tamanho do título */
    font-weight: bold;
}

.slide-content p {
    margin: 0 0 15px;
    font-size: 20px; /* Aumenta o tamanho do parágrafo */
    line-height: 1.4;
}

/*----------------CARROSEL----------*/



.carrosel{
    margin-left: -20px;
}

.carrosel-container {
    width: 103%; /* Ajusta o tamanho do container para incluir a margem entre os slides */
    height: 100%;   
     overflow-x: auto; /* Adiciona barra de rolagem horizontal */
    overflow-y: hidden; /* Remove barra de rolagem vertical */
    white-space: nowrap; /* Evita que os slides quebrem linha */
    margin-bottom: 20px; /* Adiciona espaço abaixo do carrossel */
    padding-bottom: 40px; /* Adiciona espaço extra abaixo do conteúdo do carrossel */
    height: 100%; /* Garante que os slides ocupem toda a altura do carrossel */
    margin-right: 5%;
}

.carrosel-slide {
    margin-top: 1%;
    display: inline-block; /* Faz os slides ficarem lado a lado */
    text-align: center;
    vertical-align: top; /* Alinha os slides ao topo */
    margin-right: 80px; /* Espaçamento entre os slides */
    margin-left: 5%;
}

.carrosel-slide a {
    text-decoration: none; /* Remove a decoração do link */
    color: inherit; /* Inherit color from parent */
}

.panel {
    background: #aaaaaa; /* Cor de fundo do painel */
    padding: 10px; /* Espaçamento interno do painel */
    border-radius: 10px; /* Borda arredondada do painel */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para o painel */
    transition: transform 0.3s ease-in-out; /* Adiciona animação de transição */
}

.carrosel-slide img {
    width: 500px; /* Define uma largura fixa para as imagens */
    height: 300px; /* Define a altura desejada para as imagens */
    max-width: 100%; /* Garante que as imagens não ultrapassem o tamanho do slide */
    border-radius: 10px; /* Borda arredondada para as imagens */
}

.carrosel-slide h3,
.carrosel-slide p {
    margin: 20px 0; /* Adiciona espaço entre o texto e a imagem */
    transition: color 0.3s ease-in-out; /* Adiciona animação de transição */
}

.carrosel-slide:hover .panel {
    transform: scale(1.05); /
}

.carrosel-slide:hover h3,
.carrosel-slide:hover p {
    color: #377bc9; /* Muda a cor do texto */
    transition: transform 0.3s ease-in-out; /* Adiciona animação de transição */
    transform: scale(1.05); /

}

.carrosel-container::-webkit-scrollbar {
    margin-right: 50%;
    height: 10px; /* Define a altura da barra de rolagem */
}

.carrosel-container::-webkit-scrollbar-thumb {
    background-color: #377bc9; /* Cor da barra de rolagem */
    border-radius: 10px; /* Borda arredondada */
}

.carrosel-container::-webkit-scrollbar-track {
    background-color: #646262; /* Cor do fundo da barra de rolagem */
}

.carrosel-container::-webkit-scrollbar-track-piece:start {
    background-color: transparent; /* Define a cor de fundo do trilho horizontal */
    width: 20px; /* Ajusta a largura do trilho horizontal */
}

.carrosel-container::-webkit-scrollbar-track-piece:end {
    background-color: transparent; /* Define a cor de fundo do trilho horizontal */
    width: 20px; /* Ajusta a largura do trilho horizontal */
}





/*--------------contexto----------*/


.contexto {
    margin-top: 30%; /* Adicione margem na parte superior do conteúdo "contexto" */
    margin-left: 2%;
}

